---
Checks:
  - '-*'
  - 'bugprone-*'
  - 'cert-*'
  - 'clang-analyzer-*'
  - 'concurrency-*'
  - 'cppcoreguidelines-*'
  - 'google-*'
  - 'hicpp-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'

  - '-*-assignment-in-if-condition'
  - '-*-avoid-bind'
  - '-*-avoid-do-while'
  - '-*-braces-around-statements'
  - '-*-build-using-namespace'
  - '-*-c-copy-assignment-signature'
  - '-*-convert-member-functions-to-static'
  - '-*-easily-swappable-parameters'
  - '-*-else-after-return'
  - '-*-enum-size'
  - '-*-explicit-*'
  - '-*-identifier-length'
  - '-*-implicit-bool-conversion'
  - '-*-inconsistent-ifelse-braces'
  - '-*-init-variables'
  - '-*-isolate-declaration'
  - '-*-magic-numbers'
  - '-*-math-missing-parentheses'
  - '-*-misleading-indentation'
  - '-*-mt-unsafe'
  - '-*-multiple-inheritance'
  - '-*-named-parameter'
  - '-*-namespace-comments'
  - '-*-no-recursion'
  - '-*-pro-bounds-avoid-unchecked-container-access'
  - '-*-pro-bounds-constant-array-index'
  - '-*-pro-bounds-pointer-arithmetic'
  - '-*-pro-type-reinterpret-cast'
  - '-*-pro-type-static-cast-downcast'
  - '-*-redundant-access-specifiers'
  - '-*-rvalue-reference-param-not-moved'
  - '-*-signed-bitwise'
  - '-*-static-accessed-through-instance'
  - '-*-trailing-comma'
  - '-*-unconventional-assign-operator'
  - '-*-uppercase-literal-suffix'
  - '-*-use-anonymous-namespace'
  - '-*-use-default-member-init'
  - '-*-use-designated-initializers'
  - '-*-use-internal-linkage'
  - '-*-use-nodiscard'
  - '-*-use-trailing-return-type'

CheckOptions:
  misc-const-correctned.TransformPointersAsPointers: true
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-function-cognitive-complexity.Threshold: '15'
  readability-function-size.LineThreshold: '60'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ConceptCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.GlobalVariableCase: 'CamelCase'
  readability-identifier-naming.GlobalVariableIgnoredRegexp: '^_[a-z].*'
  readability-identifier-naming.GlobalVariablePrefix: 'g'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.MacroDefinitionIgnoredRegexp: 's[A-Z].+'
  readability-identifier-naming.NamespaceCase: 'CamelCase'
  readability-identifier-naming.NamespaceIgnoredRegexp: '(details|internal)'
  readability-identifier-naming.PrivateMemberPrefix: '_'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.VariableCase: 'camelBack'
  readability-operators-representation.BinaryOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  readability-simplify-boolean-expr.IgnoreMacros: true

SystemHeaders: false
